# temp files
\#*
.\#*
*~
tmp*
*.orig
*.log

# Object files
*.gch
*.pch
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
tests/*test
build/jozabad
